body{background-image:url(backgroundimage.jpg);image:url(niharika.jpg);}

.h1{
  font-size: 65px;
  color: navy;
  font-style:sans-serif;
  text-align:center;
  margin-top: 0%;
  padding-top: 0%;

}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item{
  flex: 11300px;
}

a{
  margin-top:5px;
  padding-left: 5px;
}
img{margin-right: 70%;
  margin-top: 0px;
  max-width: 100%;
  
    width: 20%;
    height: 20% ;
    border-radius: 400px;
  float:left;
}
#div1{
  width: 280px;
  height:40px;
    text-size-adjust: 30px;
    font-style: italic;
     padding: 10px,20px,15px,20px;
    position: relative;
    animation: mymove 5s;
    animation-fill-mode:forwards;
    border-radius: 20%;
    margin: auto;

    background-color: palevioletred;
    text-align: center;
    font-size: 30px;
    

  }
    


#div2{
  width:280px;
  height:40px;
  text-size-adjust: 40px;
  position: relative;
    animation: mymove 5s;
    animation-fill-mode:backwards;
    font-size: 30px;
    border-radius: 20%;
    font-style: italic;
    padding: 10px,20px,15px,20px;
    background-color:palevioletred;
    text-align: center;
    margin: auto;
  }

#div3 {
    width: 280px;
    height: 40px;
    border-radius: 20%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    animation: mymove 5s;
    animation-fill-mode:forwards;
    font-style:italic;
    padding:10px,20px,15px,20px;
    background-color:palevioletred;
    margin: auto;
  }
  
  #div1 {animation-timing-function: linear;}
  #div2 {animation-timing-function:ease;}
  #div3 {animation-timing-function: linear;}
  
  @keyframes mymove {
    from {left: 80px;}
    to {left: 150px;}
  }